# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ROS stuff
.cproject
.project
.pydevproject
.settings
cmake_install.cmake
build/
bin/
lib/
msg_gen/
srv_gen/

# SBPL output:
debug.txt
envdebug.txt